<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creams.temo.mapper.testcase.SavesMapper">

    <select id="querySaves" resultType="com.creams.temo.entity.testcase.response.SavesResponse">
        select * from saves
        <where>
        1=1
            <if test="case_id !=null and case_id != ''">
                and case_id = #{case_id}
            </if>
        </where>
    </select>

    <insert id="addSaves">
       INSERT INTO saves (save_id, jexpression, param_key, save_from, case_id)
       VALUES
       (#{saveId}, #{jexpression}, #{paramKey}, #{saveFrom}, #{caseId})
    </insert>

    <update id="updateSavesById">
       UPDATE saves SET
       jexpression = #{jexpression} ,
       param_key = #{paramKey},
       save_from = #{saveFrom}
       WHERE
       case_id = #{caseId}
    </update>

</mapper>