<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creams.temo.mapper.datastatistics.SevenDaysExecuteInfoMapper">

    <select id="querySevenDaysTestCaseSuccessNum" resultType="com.creams.temo.entity.datastatistics.response.ExecuteSevenDaysResponse">
        SELECT
            SUBSTR(start_time,1,10) as days,
            SUM(n.success_num) as successNum,
            SUM(n.success_num) / SUM(n.total_num) as successRate,
            SUM(n.total_num) - SUM(n.success_num) as falseNum
        FROM
            task_result m
        LEFT JOIN set_result n ON m.task_result_id = n.task_result_id
        WHERE
            DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt;= m.start_time GROUP BY days;
    </select>

</mapper>