<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creams.temo.mapper.testcase.StScriptMapper">

    <select id="queryStScript" resultType="com.creams.temo.entity.testcase.response.StScriptResponse">
        select * from script
        <where>
            <if test="scriptId !=null and scriptId !=''" >
                and script_id = #{scriptId}
            </if>

            <if test="dbId !=null and dbId != ''">
                and db_id = #{dbId}
            </if>

        </where>
        order by createTime desc
    </select>

    <insert id="addStScript">
       INSERT INTO st_script
       (st_script_id, st_script_type, set_id,ex_script_type, ex_script_id,sorting)
       VALUES
       (#{stScriptId}, #{stScriptType}, #{setId}, #{exScriptType},#{exScriptId}, #{sorting})
    </insert>

    <update id="updateStScriptById">
       UPDATE st_script SET
       st_script_type = #{stScriptType},
       set_id = #{setId},
       ex_script_type = #{exScriptType},
       ex_script_id = #{exScriptId},
       sorting = #{sorting}
       WHERE
       st_script_id = #{stScriptId},
    </update>

</mapper>