<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creams.temo.mapper.testcase.TestCaseMapper">

    <select id="queryTestCase" resultType="com.creams.temo.entity.testcase.response.TestCaseResponse">
        select * from testcase
        <where>
            <if test="case_id !=null and case_id !=''" >
                and case_id = #{case_id}
            </if>
            <if test="env_id !=null and env_id !=''">
                and env_id = #{env_id}
            </if>
            <if test="set_id !=null and set_id !=''">
                and set_id = #{set_id}
            </if>
            <if test="case_desc !=null and case_desc !=''">
                and case_desc like concat('%', #{case_desc}, '%')
            </if>
            <if test="db_id !=null and db_id !=''">
                and db_id = #{db_id}
            </if>
            <if test="case_type !=null and case_type != ''">
                and case_type = #{case_type}
            </if>
        </where>
    </select>


    <insert id="addTestCase">
        INSERT INTO testcase
        (case_id, case_desc, env_id, url, method, header, cookies, param, body, file, set_id, sql_script, db_id, case_type)
         VALUES
         (#{caseId}, #{caseDesc}, #{envId}, #{url}, #{method}, #{header}, #{cookies}, #{param}, #{body},
         #{file}, #{setId}, #{sqlScript}, #{dbId}, #{caseType})

    </insert>

    <update id="updateTestCaseById">
        update  testcase set
        case_desc = #{caseDesc},
        env_id = #{envId},
        url = #{url},
        method = #{method},
        header = #{header},
        cookies = #{cookies},
        param = #{param},
        body = #{body},
        file = #{file},
        set_id = #{setId},
        sql_script = #{sqlScript},
        db_id = #{dbId},
        case_type = #{caseType}
        where case_id = #{caseId}
    </update>

</mapper>