<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creams.temo.mapper.UserMapper">

    <insert id="addUser">
       INSERT INTO user (user_id, user_name, password)
       VALUES
       (#{userId}, #{userName}, #{password})
    </insert>

</mapper>