<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creams.temo.mapper.testcase.VerifyMapper">

    <select id="queryVerify" resultType="com.creams.temo.entity.testcase.response.VerifyResponse">
        select * from verify
        <where>
            <if test="verifyId !=null and verifyId !=''" >
                and verify_id = #{verifyId}
            </if>

            <if test="verifyType !=null and verifyType != ''">
                and verify_type = #{verifyType}
            </if>
        </where>
        order by createTime desc
    </select>

    <insert id="addVerify">
       INSERT INTO verify
       (verify_type, jexpression, expect, relationship, rexpression, case_id)
       VALUES
       (#{verifyType}, #{jexpression}, #{expect}, #{relationShip}, #{rexpression}, #{caseId})
    </insert>

    <update id="updateVerifyById">
       UPDATE verify SET
       verify_type = #{verifyType},
       jexpression = #{jexpression},
       expect = #{expect},
       relationship = #{relationShip},
       rexpression = #{rexpression},
       case_id = #{caseId}
       WHERE
        verify_id = #{verifyId}
    </update>

</mapper>