<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creams.temo.mapper.testcase.VerifyMapper">

    <select id="queryVerify" resultType="com.creams.temo.entity.testcase.response.VerifyResponse">
        select * from verify
        <where>
            <if test="case_id !=null and case_id !=''" >
                and case_id = #{case_id}
            </if>

            <if test="verify_type !=null and verify_type != ''">
                and verify_type = #{verify_type}
            </if>
            <if test="verify_id !=null and verify_id != ''">
                and verify_id = #{verify_id}
            </if>
        </where>
        order by createTime desc
    </select>

    <insert id="addVerify">
       INSERT INTO verify
       (verify_id, verify_type, jexpression, expect, relationship, rexpression, case_id)
       VALUES
       (#{verifyId}, #{verifyType}, #{jexpression}, #{expect}, #{relationShip}, #{rexpression}, #{caseId})
    </insert>

    <update id="updateVerifyById">
       UPDATE verify SET
       verify_type = #{verifyType},
       jexpression = #{jexpression},
       expect = #{expect},
       relationship = #{relationShip},
       rexpression = #{rexpression}
       WHERE
        case_id = #{caseId}
    </update>

</mapper>